In [9]:
#importing library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('Display.max_columns',None)
import re
from sklearn.model_selection import train_test_split,StratifiedKFold
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings(action='ignore')

In [8]:
!pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\lenovo-pc\documents\new\car_loan_default\venv\lib\site-packages (from scikit-learn) (2.2.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.15.2-cp311-cp311-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.6.1-cp311-cp311-win_amd64.whl (11.1 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.15.2-cp311-cp311-win_amd64.whl (41.2 MB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.5.0

In [11]:
train_df=pd.read_csv('train.csv')
#loading the dataset
test_df=pd.read_csv('test.csv')

In [12]:
train_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,6,1998,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,0,0,0,0,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,6,1998,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,0,0,0,0,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [13]:
test_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,Employee_code_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,SEC.NO.OF.ACCTS,SEC.ACTIVE.ACCTS,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,655269,53478,63558,86.54,67,22807,45,1497,01-01-74,Salaried,03-11-18,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
1,723482,55513,63163,89.45,67,22807,45,1497,20-05-85,Self employed,20-11-18,6,1998,1,1,0,0,0,0,749,C-Very Low Risk,2,1,0,43898,48780,48780,0,0,0,0,0,0,5605,0,1,0,0yrs 8mon,1yrs 0mon,1
2,758529,65282,84320,79.93,78,23135,86,2071,14-10-95,Salaried,29-11-18,4,1646,1,1,1,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0
3,763449,46905,63896,76.58,78,17014,45,2070,01-06-73,Self employed,29-11-18,4,1646,1,1,0,0,0,0,14,Not Scored: Only a Guarantor,1,1,1,132480,255000,255000,0,0,0,0,0,0,0,0,0,0,2yrs 5mon,2yrs 5mon,0
4,708663,51428,63896,86.08,78,17014,45,2069,01-06-72,Salaried,17-11-18,4,1646,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0

In [15]:
data_dict=pd.read_csv("data_dictionary.csv")
data_dict

,Unnamed: 0,Variable Name,Description,Unnamed: 2
0,0,UniqueID,Identifier for customers,NaN
1,1,loan_default,Payment default in the first EMI on due date,NaN
2,2,disbursed_amount,Amount of Loan disbursed,NaN
3,3,asset_cost,Cost of the Asset,NaN
4,4,ltv,Loan to Value of the asset,NaN
5,5,branch_id,Branch where the loan was disbursed,NaN
6,6,supplier_id,Vehicle Dealer where the loan was disbursed,NaN
7,7,manufacturer_id,"Vehicle manufacturer(Hero, Honda, TVS etc.)",NaN
8,8,Current_pincode,Current pincode of the customer,NaN
9,9,Date.of.Birth,Date of birth of the customer,NaN
10,10,Employment.Type,Employment Type of the customer (Salaried/Self...,NaN
11,11,DisbursalDate,Date of disbursement,NaN
12,12,State_ID,State of disbursement,NaN
13,13,Employee_code_ID,Employee of the organization who logged the di...,NaN
14,14,MobileNo_Avl_Flag,if Mobile no. was shared by the customer then ...,NaN
15,15,Aadhar_flag,if aadhar was shared by the customer then flag...,NaN
16,16,PAN_flag,if pan was shared by the customer then flagged...,NaN
17,17,VoterID_flag,if voter was shared by the customer then flag...,NaN
18,18,Driving_flag,if DL was shared by the customer then flagged ...,NaN
19,19,Passport_flag,if passport was shared by the customer then fl...,NaN
20,20,PERFORM_CNS.SCORE,Bureau Score,NaN
21,21,PERFORM_CNS.SCORE.DESCRIPTION,Bureau score description,NaN
22,22,PRI.NO.OF.ACCTS,count of total loans taken by the customer at ...,Primary accounts are those which the customer ...
23,23,PRI.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
24,24,PRI.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
25,25,PRI.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
26,26,PRI.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
27,27,PRI.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
28,28,SEC.NO.OF.ACCTS,count of total loans taken by the customer at ...,Secondary accounts are those which the custome...
29,29,SEC.ACTIVE.ACCTS,count of active loans taken by the customer at...,NaN
30,30,SEC.OVERDUE.ACCTS,count of default accounts at the time of disbu...,NaN
31,31,SEC.CURRENT.BALANCE,total Principal outstanding amount of the acti...,NaN
32,32,SEC.SANCTIONED.AMOUNT,total amount that was sanctioned for all the l...,NaN
33,33,SEC.DISBURSED.AMOUNT,total amount that was disbursed for all the lo...,NaN
34,34,PRIMARY.INSTAL.AMT,EMI Amount of the primary loan,NaN
35,35,SEC.INSTAL.AMT,EMI Amount of the secondary loan,NaN
36,36,NEW.ACCTS.IN.LAST.SIX.MONTHS,New loans taken by the customer in last 6 mont...,NaN
37,37,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,Loans defaulted in the last 6 months,NaN
38,38,AVERAGE.ACCT.AGE,Average loan tenure,NaN
39,39,CREDIT.HISTORY.LENGTH,Time since first loan,NaN
40,40,NO.OF_INQUIRIES,Enquries done by the customer for loans,NaN

In [16]:
#checking for missing value in the dataset
train_df.isna().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        7661
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

In [17]:
train_df['Employment.Type'].unique()

array(['Salaried', 'Self employed', nan], dtype=object)

In [18]:
def encode_date(df,column):
    df=df.copy()
    #converting to datetime
    df[column]=pd.to_datetime(df[column],format='%d-%m-%y')
    #extracting year,month and day
    df[column+'_year']=df[column].apply(lambda  x:x.year)
    df[column+'_month']=df[column].apply(lambda x:x.month)
    df[column+'_day']=df[column].apply(lambda x:x.day)
    df=df.drop(column,axis=1)
    return df

In [19]:
def encode_duration(df,column):
    df=df.copy()
    df[column+'_yrs']=df[column].apply(lambda x:re.search(r'\d+(?=yrs)',x).group(0)).astype(int)
    df[column+'_mon']=df[column].apply(lambda x:re.search(r'\d+(?=mon)',x).group(0)).astype(int)
    df=df.drop(column,axis=1)
    
    return df

In [20]:
def onehot_encode(df,column):
    df=df.copy()
    dummies=pd.get_dummies(df[column],prefix=column)
    df=pd.concat([df,dummies],axis=1)
    df=df.drop(column,axis=1)
    for column in df.columns:
        if df[column].dtypes=='bool':
            df[column]=df[column].astype(int)
    
    return df

In [21]:
def preprocess_inputs(df):
    df=df.copy()
    #encoding missing employment value and unemploayed


    df['Employment.Type']=df['Employment.Type'].fillna('Unemployed')

    #dropping high cardinality column

    df=df.drop(['UniqueID','supplier_id','Current_pincode_ID','Employee_code_ID','MobileNo_Avl_Flag'],axis=1)

    df=encode_date(df,'Date.of.Birth')
    df=encode_date(df,'DisbursalDate')
    df=encode_duration(df,'AVERAGE.ACCT.AGE')
    df=encode_duration(df,'CREDIT.HISTORY.LENGTH')
    df=df.drop('DisbursalDate_year',axis=1)
    ONEHOT_COLUMNS=['branch_id','manufacturer_id','Employment.Type','State_ID','PERFORM_CNS.SCORE.DESCRIPTION']

    for column in ONEHOT_COLUMNS:
        df=onehot_encode(df,column)

    return df

In [22]:
{column:len(train_df[column].unique()) for column in ['branch_id','supplier_id','manufacturer_id','Current_pincode_ID','Employee_code_ID']}

{'branch_id': 82,
 'supplier_id': 2953,
 'manufacturer_id': 11,
 'Current_pincode_ID': 6698,
 'Employee_code_ID': 3270}